---
permalink: 404.html
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="404.css" media="screen" />
    <title>404 Error - ABD Surveillance.</title>
  </head>
  <body>
    <div class="content">
      <h1>404 Error</h1>
      <h1>The requested page cannot be found.</h1>
      <p>Go back to the <a href="{{ "/" | url }}">home page</a>.</p>
    </div>
  </body>
</html>
